<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

		<div class="row" style="margin-top: 40px">
			<div class="col-lg-12 col-md-12">
				<div class="sidenav">
					<button class="dropdown-btn">
						<a th:href="@{/home}" class="mm-active">
							<i class="metismenu-icon pe-7s-home"></i>
							Home
						</a>
					</button>

				</div>
			</div>
			<div class="col-lg-12 col-md-12">
				<div class="sidenav">
					<button class="dropdown-btn">
						<a th:href="@{/traineraccount-list}">
							<i class="metismenu-icon pe-7s-user"></i>
							Trainers
						</a>
					</button>

				</div>
			</div>
			<div class="col-lg-12 col-md-12">
				<div class="sidenav">
					<button class="dropdown-btn">
						<a th:href="@{/trainingstaff-list}">
							<i class="metismenu-icon pe-7s-user"></i>
							Training Staffs
						</a>
					</button>

				</div>
			</div>

		</div>



	
</body>
</html>